{% extends "@Contao/mod_article.html5" %}

{% set row_classes = inner_classes|join(" ") %}
{% set inner_classes = "" %}
{% set backgroundClass = background and hasBackground(background) ? " mod_article--background" %}
{% set class = "#{class}#{backgroundClass}" %}
{% set attributes = attributes|default(attrs()).mergeWith(getGlobalStrings(_context, 'scheme')) %}
{% set cssID = cssID|default("") ~ getGlobalStrings(_context, 'scheme') %}

{% block content %}
    {% block background %}
        {% if background %}
            {% if hasBackground(background) %}
                <div class="mod_article__background background background--article">
                    {% if backgroundOverwrite %}
                        {{ getClasses(_context, 'backgroundOverwrite', 'backgroundOverwrite')|raw }}
                    {% else %}
                        {{ getGlobalStrings(_context, 'backgroundElement', 'background')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock background %}

    <div class="mod_article__main main {{ row_classes }}" {{ getGlobalStrings(_context, 'scheme') }}>
        {% if prefixMain ?? false %}
            {{ prefixMain }}
        {% endif %}
        {{ parent() }}
        {% if suffixMain ?? false %}
            {{ suffixMain }}
        {% endif %}
    </div>
{% endblock %}