{% extends "@Contao/content_element/_base.html.twig" %}

{% set link_attributes = attrs()
    .addClass(getCtaClasses(data))
    .mergeWith(link_attributes|default)
%}

{% set headline = headline|default(_context) %}
{% set hl_attributes = attrs()
    .addClass("main__headline headline")
    .addClass(data.headlineClass|default)
    .mergeWith(headline.attributes|default)
%}
{% set headline = headline|merge({'attributes':hl_attributes}) %}

{% set content_main_attributes = attrs()
    .addClass('content__main main')
    .mergeWith(content_main_attributes|default)
%}

{% set content_attributes = attrs()
    .addClass("main__content")
    .addClass(nested_fragments and not prevent_inner_classes|default ? inner_classes)
    .mergeWith(content_attributes|default)
%}
{% set inner_classes = "" %}

{% set attributes = attrs()
    .mergeWith(getGlobalStrings(data, 'scheme'))
    .addClass("content content--#{type|replace({'_': '-'})}")
    .addClass(data.background ? "content--background" : null)
    .mergeWith(attributes|default)
%}

{%- block inner %}
    {% block background %}
        {% if data.background %}
            {% if hasBackground(data.background) %}
                <div class="content__background background background--content">
                    {% if data.backgroundOverwrite %}
                        {{ getClasses(data, 'backgroundOverwrite', 'backgroundOverwrite')|raw }}
                    {% else %}
                        {{ getGlobalStrings(data, 'backgroundElement', 'background')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock background %}
    {% block main %}
        {% set content_block = block('content')|spaceless %}
        {% set headline_block = block('headline_component')|spaceless %}

        {% if content_block is not empty and headline_block is not empty %}
            {% if main_class is defined and main_class is not empty %}
                {% set content_main_attributes = attrs()
                    .addClass(main_class)
                    .mergeWith(content_main_attributes|default)
                %}
                {% deprecated 'The "main_class" variable is deprecated, use "content_main_attributes" instead.' package='kiwi/contao-designer' version='1.1.19' %}
            {% endif %}
            <div {{ content_main_attributes|default }}>
                {% if headline.text %}
                    {{ headline_block|raw }}
                {% endif %}

                {% block content_wrapper %}
                    <div {{ content_attributes }}>
                        {{ content_block|raw }}
                    </div>
                {% endblock content_wrapper %}
            </div>
        {% endif %}
    {% endblock main %}
{% endblock -%}
