{% extends "@Contao/content_element/_base.html.twig" %}

{% set link_attributes = attrs().addClass(getCtaClasses(data)).mergeWith(link_attributes|default) %}

{% set hl_attributes = headline.attributes|default(attrs()).addClass("main__headline headline").addClass(data.headlineClass ?? '') %}
{% set headline = headline|default(_context)|merge({'attributes':hl_attributes}) %}

{% set content_attributes = content_attributes|default(attrs()).addClass("main__content").addClass(nested_fragments and not prevent_inner_classes|default ? inner_classes) %}
{% set inner_classes = "" %}

{% set attributes = attributes|default(attrs()).mergeWith(getGlobalStrings(data, 'scheme')) %}

{% set attributes = attributes|default(attrs()).addClass("content content--#{type|replace({'_': '-'})}") %}

{% if data.background %}
    {% set attributes = attributes|default(attrs()).addClass("content--background").mergeWith(attributes|default) %}
{% endif %}

{%- block inner %}
    {% block background %}
        {% if data.background %}
            {% if hasBackground(data.background) %}
                <div class="content__background background background--content">
                    {% if data.backgroundOverwrite %}
                        {{ getClasses(data, 'backgroundOverwrite', 'backgroundOverwrite')|raw }}
                    {% else %}
                        {{ getGlobalStrings(data, 'backgroundElement', 'background')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock background %}
    {% block main %}
        {% set content_block = block('content')|spaceless %}
        {% set headline_block = block('headline_component')|spaceless %}

        {% if content_block is not empty and headline_block is not empty %}
            <div class="content__main main {{ main_class ?? '' }}">
                {% if headline.text %}
                    {{ headline_block|raw }}
                {% endif %}

                {% block content_wrapper %}
                    <div {{ content_attributes }}>
                        {{ content_block|raw }}
                    </div>
                {% endblock content_wrapper %}
            </div>
        {% endif %}
    {% endblock main %}
{% endblock -%}