{% extends "@Contao/content_element/_base.html.twig" %}

{% set baseClass = "content-#{type|replace({'_': '-'})}" %}

{% set link_attributes = attrs().addClass(getCtaClasses(data)).mergeWith(link_attributes|default) %}

{% set hl_attributes = headline.attributes|default(attrs()).addClass("#{baseClass}__headline").addClass(data.headlineClass ?? '') %}
{% set headline = headline|default(_context)|merge({'attributes':hl_attributes}) %}

{% set content_attributes = content_attributes|default(attrs()).addClass("#{baseClass}__content") %}

{%- block inner %}
    {% block topline %}
        {% if data.topline ?? false %}<p class="{{baseClass}}__topline">{{ data.topline }}</p>{% endif %}
    {% endblock topline %}
    {% if headline.text %}
        {{ block('headline_component') }}
    {% endif %}
    {% block subline %}
        {% if data.subline ?? false %}<p class="{{baseClass}}__subline">{{ data.subline }}</p>{% endif %}
    {% endblock subline %}

    {% block content_wrapper %}
        <div {{ content_attributes }}>
            {% block content %}{% endblock %}
        </div>
    {% endblock content_wrapper %}
{% endblock -%}